table {
    font-family: inherit;
    border-collapse: collapse;
    width: 100%;
    /* margin-bottom:165px; */
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: rgba(255, 99, 71, 0.616);
    color:white !important;
  }
  .delete{
      margin-left: 5px;
  }
  .delete span {
    padding-left: 0 !important;
  }