.container{
   text-align: center;
    background-color: white;
    box-shadow: 0 0 20px 2px rgb(0 0 0 / 40%);
    padding:20px;      
}
.container h1{
    margin-bottom: 20px;
}
.formBtn {
    width:200px;
    margin-top: 5px;    
}